.text {
  color: var(--color-primary);
}

:global(.role-body) {
  font-size: var(--font-size-md);
}

:global(.role-h1) {
  font-size: var(--font-size-xl);
}

:global(.role-h2) {
  font-size: var(--font-size-lg);
}

:global(.role-h3) {
  font-size: var(--font-size-sm);
}

:global(.role-title) {
  @extend :global(.role-h2);
  text-decoration: underline;
  text-decoration-color: var(--color-accent);
  text-decoration-style: dotted;
  text-underline-offset: 0.4em;
  margin-bottom: 0.6em;
  font-family: var(--title-fonts);
  letter-spacing: 0.02ch;
}

:global(.bold) {
  font-weight: 700;
}
