@import "../../common/mixins.scss";

.layout {
  height: 100%;
  background-color: var(--color-secondary);
  overflow: hidden;

  & > * {
    width: 100%;
  }

  @include flex();
}

.navMenu {
  @include flex($direction: row, $gap: 2em, $align: center);
  padding: 1em;
  flex: 1;

  .emoji {
    font-size: 2em;

    &:hover {
      animation: burning 0.5s linear infinite alternate;
    }

    @keyframes burning {
      to {
        transform: rotateY(180deg);
      }
    }
  }

  a {
    text-decoration: none;

    span {
      transition: color 0.3s ease-in-out;
      &:hover {
        color: var(--color-accent);
      }
    }
  }

  .localeSwitch {
    margin-inline-start: auto;
  }
}

.content {
  flex: 10;
  padding: 0 2em;
}

.footer {
  flex: 1;
  text-align: center;
  padding: 1em 2em;
  opacity: 0.3;
  color: var(--color-accent);

  span {
    color: currentColor;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid currentColor;
    margin: 1em 0;
    padding: 0;
  }
}
