@import "../../common/mixins.scss";

.blog {
  @include flex($align: center);

  .posts {
    width: 80%;
    height: 64dvb;
    overflow: scroll;

    display: grid;
    gap: 20px;

    .link {
      text-transform: capitalize;

      @include text-appear-animation(
        $delay: var(--delay-index),
        $initial-drop: 50vh
      );
    }

    &::-webkit-scrollbar {
      display: none;
    }

    @media (min-aspect-ratio: 1 / 1) {
      grid-template-columns: repeat(12, 1fr);

      .link {
        &:nth-child(5n + 1),
        &:nth-child(5n + 2),
        &:nth-child(5n + 3) {
          grid-column: span 4;
        }

        &:nth-child(5n + 4) {
          grid-column: 3 / span 4;
        }

        &:nth-child(5n + 5) {
          grid-column: 7 / span 4;
        }
      }
    }
  }
}
