@import "../../common/mixins.scss";

@mixin radial-ellipse($y-origin) {
  background: radial-gradient(
    ellipse at 50% #{$y-origin},
    var(--color-primary) 20%,
    transparent 70%
  );
}

.link {
  @include flex($align: center, $justify: center);
  height: 15em;
  text-decoration: none;

  --ellipse-y-origin: 100%;
  --transition-time: 0.4s;

  .titlesContainer {
    text-align: center;
    width: 70%;
    min-height: 40%;

    display: grid;

    & > * {
      grid-area: 1 / 1;
    }

    .title {
      display: grid;
      place-items: center;
    }

    .hoverTitle {
      overflow: hidden;

      --inverted-y-origin: calc(100% - var(--ellipse-y-origin));

      transition: transform var(--transition-time) ease-in-out;
      transform: scale(0);
      transform-origin: 50% var(--inverted-y-origin);
      mix-blend-mode: color;
      mix-blend-mode: difference;

      @include radial-ellipse($y-origin: var(--inverted-y-origin));

      span {
        @include absolute-position;
      }
    }
  }

  .flair {
    width: 70%;
    height: 40%;

    transition: transform var(--transition-time) ease-in-out;
    transform-origin: 50% var(--ellipse-y-origin);

    @include radial-ellipse($y-origin: var(--ellipse-y-origin));
  }

  @include hover-supported {
    &:nth-of-type(2n) {
      flex-direction: column-reverse;
      --ellipse-y-origin: 0%;
    }

    &:hover {
      .flair {
        transform: scale(0);
      }

      .hoverTitle {
        transform: scale(1);
      }
    }
  }
}
