@import "../../common/mixins.scss";

.homePage {
  position: relative;
  text-align: center;

  .videoContainer {
    @include absolute-position;

    height: 75dvb;
    border-radius: 20px;
    overflow: hidden;

    video {
      margin: 0 auto;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.5);
    }

    .textContainer {
      @include absolute-position();
      @include flex($align: center, $justify: center);

      color: white;
      background-color: black;
      mix-blend-mode: multiply;

      .title {
        font-size: var(--font-size-xl);
        font-style: italic;
        font-family: "Playfair Display Variable", "Suez One";
      }

      .subtitle {
        font-family: var(--title-fonts);
        letter-spacing: 0.05ch;
      }

      button {
        margin-top: 4em;
        padding: 1em 3em;
        border-width: 0.4em;
      }
    }
  }
}
