@use "sass:map";

@mixin flex(
  $direction: column,
  $align: flex-start,
  $justify: flex-start,
  $gap: 0
) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin absolute-position($top: 0, $left: 0, $bottom: 0, $right: 0) {
  position: absolute;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}

@mixin text-appear-animation($delay: 0, $max-opacity: 1, $initial-drop: 50px) {
  animation: text-appear 1s ease-in-out both;
  animation-delay: calc($delay * 100ms);
  --max-opacity: #{$max-opacity};
  --initial-drop: #{$initial-drop};
}

@mixin hover-supported() {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@keyframes text-appear {
  from {
    transform: translateY(var(--initial-drop));
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: var(--max-opacity);
  }
}
