:root {
  --color-primary: #ffb703;
  --color-secondary: #023047;
  --color-accent: #219cba;

  --font-size-sm: max(2vmin, 0.8em);
  --font-size-md: max(3vmin, 1em);
  --font-size-lg: max(6vmin, 1.8em);
  --font-size-xl: max(28vmin, 6em);

  --title-fonts: "Abril Fatface", "Heebo Variable";
}
